<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">Quiz App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <div class="mx-3">
                                <NavLink href="/CreateQuiz">
                                    <button class="btn btn-success my-2 my-sm-0 w-auto" type="submit">Create Quiz</button>
                                </NavLink>
                            </div>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                @* <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> *@
            </form>
            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-secondary my-2 my-sm-0 w-auto" type="submit" @onclick="OnClickSignOut">Sign Out</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-secondary my-2 my-sm-0 w-auto" type="submit" @onclick="OnClickSignIn">Sign In</button>
                </NotAuthorized>
                
            </AuthorizeView>
        </div>
    </div>
</nav>