@page "/CreateQuestion"

<div class="container mt-5">
    <h2>Create Your Quiz</h2>
    @foreach (var question in questions)
    {
        <QuestionForm></QuestionForm>
    }
    <button type="button" class="btn btn-primary mt-3" @onclick="OnClickAddQuestion" >Add Question</button>
    <button type="button" class="btn btn-success mt-3">Submit Quiz</button>
</div>


