@page "/CreateQuiz"

<h2>Create Your Quiz</h2>
<form class="row g-3">
    <div class="col-auto">
        <input type="text" @bind="@quizEntry.Title" class="form-control" placeholder="Add Quiz Title">
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3" @onclick="OnClickAddQuiz">Add Quiz Title</button>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Created By</th>
            <th scope="col" class="align-middle text-center">Created Date</th>
            <th scope="col" class="align-middle text-center">Action</th>
            <th scope="col" class="align-middle text-center">Is Publish</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in quizzes)
        {
            <tr>
                <th scope="row">@quiz.Title</th>
                <th scope="row">@quiz.User.UserName</th>
                <th scope="row" class="align-middle text-center" >@quiz.CreateDate.ToString("dd-MMM-yyyy")</th>
                <th scope="row" class="align-middle text-center"><button type="button" class="btn btn-secondary" @onclick="() => OnClickAddQuestion(quiz.QuizId)">Add Question</button></th>
                <th scope="row" class="align-middle text-center">
                    @if (quiz.IsPublished)
                    {
                        <span class="badge bg-success">Published</span>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger" @onclick="() => OnClickPublished(quiz.QuizId)" >Pending</button>
                    }
                </th>
            </tr>
        }
    </tbody>
</table>