@page "/"
<PageTitle>Home</PageTitle>

@* <AuthorizeView>
    <Authorized>
        <p>User Id - @user.UserId</p>
        <p>User Id - @user.UserName</p>
    </Authorized>
    <NotAuthorized>
        <p>Please log in to view your profile.</p>
    </NotAuthorized>
</AuthorizeView> *@
@if (QuizList != null)
{
    <div class="container">
        <div class="row">
            @foreach (var quiz in QuizList)
            {
                <QuizView Quiz="quiz"></QuizView>
            }
        </div>
    </div>
}


