@page "/"
<PageTitle>Home</PageTitle>

<div class="row">
    @foreach (var quiz in QuizList)
    {
        <div class="card border-light m-0 mb-3" style="max-width: 20rem;">
            <div class="card-header">@quiz.QuizCode</div>
            <div class="card-body">
                <h4 class="card-title">@quiz.QuizTitle</h4>
            </div>
        </div>
    }
</div>



