@page "/"

<PageTitle>Home</PageTitle>


@if (QuizList != null)
{
    <div class="container">
        <div class="row">
            @foreach (var quiz in QuizList)
            {
                <QuizView Quiz="quiz"></QuizView>
            }
        </div>
    </div>
}

